body{
    width: 100vw;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
nav{
    height: 40px;
    width: 100%;
    padding-bottom: 15px;
    margin: 0;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(to right, hsl(234, 85%, 82%),hsla(286, 85%, 82%));
}
.hamburger{
    display: flex;
    align-items: flex-end;
    padding: 10px;
    cursor: pointer;
}

.close{
    padding: 20px 0 50px 0;
    margin: 0;
}
.menuList.links, .menuList.close-icon{
    display: block;
    position: relative;
    z-index: 1;
    list-style-type: none;
    background-color: white;
    width: 60%;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    transition: 0.9s ease-in-out;
    margin-top: 0;
    text-decoration: none;
}
.menuList{
    display: none;
}
.nav-links a{
    display: block;
    text-decoration: none;
    color: black;
    padding-bottom: 20px;
}
.hello{
    font-family: 'Courier New', Courier, monospace;
}
.welcome{
    width: 300px;
    height: 150px;
}
.about{
    max-width: auto;
    text-wrap: wrap;
    padding: 10px 30px;
    background-image: linear-gradient(to right, hsla(234, 85%, 82%, 0.205),rgba(230, 170, 248, 0.438));
}
.profile-pic img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.intro{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0px;
}
.projects-container h1, .contacts h1{
    font-family: "Mozilla Headline", sans-serif;
    letter-spacing: 0.05em;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-wrap: wrap;
}
.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    background-image: linear-gradient(to bottom, hsla(234, 85%, 82%, 0.397),hsla(286, 85%, 82%, 0.397));
}

.project-1{
    width: 300px;
    height: 420px;
    border-radius: 10px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom, hsla(216, 81%, 90%, 0.945),hsla(285, 34%, 77%, 0.253));
    padding-bottom: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.project-1:hover{
    border: 1px solid rgb(135, 135, 231);
    background-image: linear-gradient(to bottom, hsla(216, 14%, 72%, 0.39),hsla(284, 8%, 50%, 0.253));
    transition: 0.2s ease-in;
}
.project-1 img{
    width: 300px;
    height: 190px;
    flex: 1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.project-1 img:hover{
    transform: scale(1.01, 1.01);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.project-1 p{
    padding: 0 10px;
}
.project-1 a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border: 0;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
}
.project-1 a:hover{
    background-color: rgb(181, 181, 248);
    border: 1px solid blue;
    color: rgb(53, 53, 53);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.read-more{
    display: flex;
    flex: 2;
    font-size: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.contact-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to right, hsla(208, 24%, 60%, 0.726),hsla(271, 53%, 74%, 0.459));
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 18px;
}
.contact-me p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: auto;
    
}
.profile-links{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.profile-links p{
    font-size: 12px;
    font-weight: bold;
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-links img{
    width: 50px;
    height: 50px;
}
.git img{
    border-radius: 50%;
    margin-left: 5px;
    width: 35px;
    height: 35px;
}


@media  (min-width: 800px) and (max-width: 1023px){
    .projects, .contact-me{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1024px) {
    .hamburger, .close{
        display: none;
    }
    .menuList{
        display: flex !important;
        flex-direction: row;
        float: right;
        list-style: none;
        color: hsl(0, 0%, 46%);
    }
    .nav-links a{
        font-size: 16px;
        color: white;
        border-radius: 20px;
        text-decoration: none;
    }
    .nav-links a:hover{
        color: rgba(224, 9, 127, 0.952);
        cursor: pointer;
    }
    li a{
        list-style-type: none;
    }
    ul li{
        padding-right: 20px;
    }
    .menuList.links{
        display: flex !important;
        background: none;
    }
    .intro{
        width: 98%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-top: 30px;
    }
    .intro article{
        text-align: left;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 800px;
    }
    .about{
        background-image: none;
        background-color: white;
    }
    .profile-pic img{
        width: 350px;
        height: 350px;
        border-radius: 50%;
    }
    .projects-container h1, .contacts h1{
        text-align: left;
        padding-left: 30px;
    }
    .projects{
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 30px 0px;
        
    }
    .contact-me{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
    }
    
}
