body{
    width: 100vw;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
nav{
    height: 40px;
    width: 100%;
    padding-bottom: 15px;
    margin: 0;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(to right, hsl(234, 85%, 82%),hsla(286, 85%, 82%));
}
.hamburger{
    display: flex;
    align-items: flex-end;
    padding: 10px;
    cursor: pointer;
}

.close{
    padding: 20px 0 50px 0;
    margin: 0;
}
.menuList.links{
    left: 0;
}
.menuList{
    position: absolute;
    z-index: 5;
    list-style-type: none;
    background-image: linear-gradient(to bottom, #f3e8ff, #ffe4f1);
    width: 60%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    height: 100vh;
    margin-top: 0;
    text-decoration: none;
    font-weight: bold;
    transition: left 0.5s ease-in-out;
}

.nav-links a{
    display: block;
    text-decoration: none;
    color: #333;
    padding-bottom: 20px;
}

.welcome{
    width: 300px;
    height: 150px;
    display: flex;
    align-self: center;
}
.about{
    max-width: auto;
    text-wrap: wrap;
    padding: 25px 30px;
    margin: 0 30px;
    border-radius: 15px;
    background-image: linear-gradient(to right, hsla(234, 54%, 73%, 0.319),rgba(230, 170, 248, 0.438));
    font-size: 17px;
    font-family: Verdana;
}
.profile-pic img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.intro{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0px;
}
.skills{width: 100vw;}
.skills-sub{
    background-image: linear-gradient(to right, hsla(206, 55%, 54%, 0.431),hsla(272, 50%, 39%, 0.304));
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}
.skills-logo{
    display: grid;
    place-items: center;
    width: 100%;
}
.skills-logo .images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 30px;
    column-gap: 0;
    grid-auto-rows: auto;
    width: 90%;
    padding-top: 8px;
    padding-bottom: 30px;
}

.skills-logo img{
    width: 90px;
    height: 90px;
    background-color: white;
    padding: 20px;
    box-shadow: 1px 2px 10px purple;
    border-radius: 20px;
}
.skills-logo h2{
    font-size: 20px;
    color: hsla(259, 61%, 28%, 0.96);
}
.images{
    padding: 0 10px;
}
.project-gallery, .contacts h1, .skills h1, .intro h1, .skills-logo h2, .experiences h1, .experiences h2{
    letter-spacing: 0.05em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-wrap: wrap;
}
.project-gallery, .contacts h1, .intro h1, .skills h1, .experiences h1{
    font-size: 25px;
}

.experiences h2{
    text-align: left;
    color: hsl(233, 25%, 36%);
    font-size: 19px;
}

.experiences-detailed {
   background-image: linear-gradient(to right, hsla(206, 55%, 54%, 0.267),hsla(272, 50%, 39%, 0.148));
}
.experiences-detailed article{
   padding: 30px;
   font-size: 17px;
}
.projects, .experiences-detailed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
.projects{
    background-image: linear-gradient(to bottom, hsla(234, 85%, 82%, 0.397),hsla(286, 85%, 82%, 0.397));
    padding: 20px 0px;
}
.project-1{
    width: 300px;
    height: 440px;
    border-radius: 10px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom, hsla(216, 81%, 90%, 0.945),hsla(285, 34%, 77%, 0.253));
    padding-bottom: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.project-1:hover{
    border: 1px solid rgb(135, 135, 231);
    background-image: linear-gradient(to bottom, hsla(216, 14%, 72%, 0.39),hsla(284, 8%, 50%, 0.253));
    transition: 0.2s ease-in;
}
.project-1 img{
    width: 300px;
    height: 190px;
    flex: 1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.project-1 img:hover{
    transform: scale(1.01, 1.01);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.project-1 p{
    padding: 0 10px;
}
.project-1 a, .my-cv, .my-cv-footer{
    background-color: purple;
    color: white;
    text-decoration: none;
    border: 0;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
}
.project-1 a:hover, .my-cv:hover, .my-cv-footer:hover{
    background-color: rgb(181, 181, 248);
    border: 1px solid blue;
    color: rgb(53, 53, 53);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.read-more{
    display: flex;
    flex: 2;
    font-size: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.read-more-header{
    font-size: 16px;
    font-family: Verdana;
    margin: 0;
    padding-top: 10px;
    text-align: center;
}
.contact-me{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, hsla(206, 61%, 37%, 0.144),hsla(272, 50%, 39%, 0.304));
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 18px;
    width: 100%;
}
.contact-me a{
    margin-top: 20px;
}
.contact-me p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: auto;
    font-size: 12px;
}
.profile-links{
    display: flex;
    justify-content: space-around;
    width: 200px;
    padding-top: 30px;
}
.profile-links img{
    width: 30px;
    height: 30px;
}


@media  (min-width: 520px) and (max-width: 799px)
{
    .skills-logo img{
        padding: 40px;
        
    }
}



@media  (min-width: 800px) and (max-width: 1023px){
    .projects{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
    }
    .intro article{
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-items: center;
        max-width: auto;
    }
    .about{
        font-size: 22px;
    }
    .skills-logo .images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    .skills-logo img{
        padding: 45px;
        
    }
}

@media only screen and (min-width: 1024px) {
    .hamburger, .close{
        display: none;
    }
    .menuList, .menuList.links{
        display: flex !important;
        width: 100vw;
        align-items: center;
        height: 70px;
        list-style: none;
        color: hsl(0, 0%, 46%);
        background: none;
        position: sticky;
    }
    .nav-links a{
        font-size: 16px;
        color: white;
        border-radius: 20px;
        text-decoration: none;
    }
    .nav-links a:hover{
        color: rgba(224, 9, 127, 0.952);
        cursor: pointer;
    }
    li a{
        list-style-type: none;
    }
    ul li{
        padding-right: 20px;
    }
    .my-cv{
        height: 20px;
        margin-top: 0;
        position: absolute;
        right: 20px;
        top: 12px;
        background-color: purple;
    }
    .welcome{
        width: 300px;
        height: 180px;
        display: flex;
        align-self: center;
    }
    .intro{
        width: 98%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-top: 30px;
    }
    .intro article{
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 800px;
    }
    .about{
        background-image: none;
        background-color: white;
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
    .profile-pic img{
        width: 350px;
        height: 350px;
        border-radius: 50%;
    }
    .project-gallery, .contacts h1, .skills h1, .intro h1, .experiences h1{
        text-align: left;
        padding-left: 30px;
        font-size: 35px;
    }
    .skills{
        width: 100%;
    }
    .skills-logo{
        width: 500px;
    }
    .skills-logo h2{
        align-self: flex-start;
    }
    .skills-logo .images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 50px;
        column-gap: 50px;
        align-self: flex-end;
        width: 400px;
    }
    .skills-logo img{
        padding: 30px;
    }
    .skills-logo h2, .experiences h2{
        font-size: 28px;
        text-align: center;
    }
    .experiences h1{
        padding-top: 50px;
    }
    .experiences-detailed{
        width: 70%;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .projects{
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 30px 0px;
    }
    .profile-links{
        width: 500px;
        padding-top: 30px;
    }
    .profile-links img{
        width: 50px;
        height: 50px;
    }
     .skills-logo img:hover, .profile-links img:hover{
        transform: scale(1.1);
        transition: 0.5s ease-in-out;
        cursor: pointer;
     }
     .read-more-header{
        font-size: 15px;
        font-family: Verdana;
    }
}